---
interface Props {
	data: {
        steam_id: string;
        last_seen: string;
        name: string;
    };
}

const { data } = Astro.props;
---
<tr class="user-entry" data-steam-id={data.steam_id}>
    <td>{data.steam_id}</td>
    <td>{data.last_seen}</td>
    <td>{data.name}</td>
    <td><button class="btn-primary">Ban User</button></td>
</tr>
<script>
    document.querySelectorAll('.btn-primary').forEach(button => {
        button.addEventListener('click', (ev) => {
            const row = (ev.target as HTMLElement).closest('tr');
            if (row) {
                const identifier = row.getAttribute('data-steam-id');
                if(confirm(`really ban ${identifier}?`))
                {
                    // Ban logic will be handled later
                }
            }
        });
    });
</script>
